<main
  class="container my-5 my-md-0 vh-md-100 d-flex align-items-center justify-content-center"
>
  <article
    class="card overflow-hidden border-0 rounded-3 flex-md-row align-items-center"
  >
    <div class="bg-primary order-md-2 flex-md-grow-1 w-100">
      <picture>
        <img [src]="movie?.img" [alt]="movie?.title" class="card-img" />
      </picture>
    </div>
    <section class="order-md-1 flex-md-grow-1 w-100">
      <div class="card-body text-center text-md-start">
        <h1 class="card-title h2">
          {{ movie?.title }}
        </h1>
        <p class="text-secondary">
          {{ movie?.text }}
        </p>
        <div class="row">
          <button
            mat-raised-button
            color="primary"
            routerLink="/principal/films/"
          >
            Volver
          </button>
        </div>
      </div>
    </section>
  </article>
</main>
