<header class="header__blog-list">
  <h1 class="title__blog-list">Listado de artículos</h1>
</header>

<div class="blog-list__container">
  <div class="blog-list__row">
    <div class="blog-list__col">
      <div class="blog-card">
        <a routerLink="view-blog" class="blog-card__link">Read more</a>
        <app-article></app-article>
      </div>
    </div>
    <div class="blog-list__col">
      <div class="blog-card">
        <a routerLink="view-blog" class="blog-card__link">Read more</a>
        <app-article></app-article>
      </div>
    </div>
    <div class="blog-list__col">
      <div class="blog-card">
        <a routerLink="view-blog" class="blog-card__link">Read more</a>
        <app-article></app-article>
      </div>
    </div>
  </div>
  <div class="blog-list__row">
    <div class="blog-list__col">
      <div class="blog-card">
        <a routerLink="view-blog" class="blog-card__link">Read more</a>
        <app-article></app-article>
      </div>
    </div>
    <div class="blog-list__col">
      <div class="blog-card">
        <a routerLink="view-blog" class="blog-card__link">Read more</a>
        <app-article></app-article>
      </div>
    </div>
    <div class="blog-list__col">
      <div class="blog-card">
        <a routerLink="view-blog" class="blog-card__link">Read more</a>
        <app-article></app-article>
      </div>
    </div>
  </div>
</div>
