<footer class="footer">
  <div class="footer__content">
    <div class="footer__section">
      <p class="footer__copyright">© 2023 Proyecto CineMax</p>
    </div>
    <div class="footer__section">
      <p class="footer__title">Siguenos en:</p>
      <div class="footer__social-icons">
        <a
          routerLink="#"
          class="footer__social-icon footer__social-icon--instagram"
        >
          <mat-icon>mood</mat-icon>
        </a>
        <a
          routerLink="#"
          class="footer__social-icon footer__social-icon--twitter"
        >
          <mat-icon>group</mat-icon>
        </a>
        <a
          routerLink="#"
          class="footer__social-icon footer__social-icon--facebook"
        >
          <mat-icon>facebook</mat-icon>
        </a>
      </div>
    </div>
    <div class="footer__section">
      <p class="footer__title">Links de interés</p>
      <ul class="footer__links">
        <li><a routerLink="#">Quienes somos</a></li>
        <li><a routerLink="#">Contáctanos</a></li>
        <li><a routerLink="#">Aviso Legal</a></li>
      </ul>
    </div>
  </div>
</footer>
