.container-section {
    background-color: #1c0101;
}

// Sección principal -hero-
.hero {
    position: relative;
    height: 100vh;
    background-image: url('../../../../assets/img/hero1.jpg');
    background-size: cover;
    background-position: center;
}

.hero__content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
}

.hero__title {
    font-size: 4rem;
    font-weight: bold;
    margin-bottom: 1rem;
    line-height: 1em;
}

.hero__text {
    font-size: 1.5rem;
}

.hero__buttons-container {
    position: sticky;
    top: 0;
    display: flex;
    justify-content: flex-end;
    background-color: #1c0101;
    padding: 1rem;
}

.hero__button {
    display: inline-block;
    padding: 6px;
    margin-right: 1rem;
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    color: #fff;
    border-radius: 10px;
    cursor: pointer;
}

.hero__button--primary {
    background-color: #631d91;
}



/*Sección para los géneros de las películas*/

.genres {
    background-color: #541a1a;
    border: 1px solid #ece9e9;
    border-radius: 60px;
    margin-top: 1rem;

}

.genres__title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    font-weight: bold;
    padding-top: 1rem;
    margin-bottom: 1rem;
    color: #ece9e9;
}

.genres__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    color: #ece9e9;
}

.genres__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem;
}

.genres__image {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.genres__name {
    font-size: 1.5rem;
    margin-top: 1rem;
    text-align: center;
}


//Sección slider

.slider {
    background-color: #1c0101;
    //border: 1px solid red;
    margin-top: 1rem;

}

.slider__title {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 1rem;
    color: #aeabab;

}

.slider__container {
    display: flex;
    width: 100%;
    height: 100%;
    transition: transform 0.5s ease-in-out;
}

.slider__slide {
    position: relative;
    flex: 1 0 100%;

}

.slider__image {
    width: 100%;
    height: 500px;
    border-radius: 60px;


}

.slider__content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
}

.slider__subtitle {
    font-size: 3rem;
}



/* Clases de Material Design */
.mat-card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.mat-card-title {
    font-size: 1.5rem;
}

.mat-card-image {
    width: 100%;
    height: auto;
}

.mat-card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.mat-card-title {
    font-size: 1.5rem;
}

.mat-card-image {
    width: 100%;
    height: auto;
}

.mat-raised-button {
    padding: 1rem 2rem;
    border-radius: 5px;
}