<!--Sección principal, donde recoger el hero para la pantalla home del portal-->
<section class="hero">
  <div class="hero-overlay"></div>
  <div class="hero-content">
    <h1>¡Bienvenido a CineMax!</h1>
    <p>Comparte tus películas favoritas con otros cinéfilos</p>
    <button mat-raised-button color="primary">Login</button>
    <button mat-raised-button color="primary">Entrar sin registro</button>
  </div>
</section>

<!-- Sección 2, donde recoger las temáticas de las películas -->
<section class="genres">
  <h2 class="genres__title">Géneros</h2>
  <ul class="genres__list">
    <li class="genres__item">
      <img
        class="genres__image"
        src="../../../../assets/img/accion.jpg"
        alt="Acción"
      />
      <h3 class="genres__name">Acción</h3>
    </li>
    <li class="genres__item">
      <img
        class="genres__image"
        src="../../../../assets/img/terror.jpg"
        alt="Comedia"
      />
      <h3 class="genres__name">Comedia</h3>
    </li>
    <li class="genres__item">
      <img
        class="genres__image"
        src="../../../../assets/img/comedia.jpg"
        alt="Drama"
      />
      <h3 class="genres__name">Drama</h3>
    </li>
    <!-- Añade más géneros de películas aquí -->
  </ul>
</section>
