<form class="view-blog__form">
  <div class="form__group">
    <mat-form-field appearance="fill">
      <mat-label>Nombre</mat-label>
      <input matInput [(ngModel)]="nameComment" name="nameComment" />
    </mat-form-field>
  </div>
  <div class="form__group">
    <mat-form-field appearance="fill">
      <mat-label>Comentario</mat-label>
      <textarea
        matInput
        [(ngModel)]="textComment"
        name="textComment"
      ></textarea>
    </mat-form-field>
  </div>
  <button
    mat-raised-button
    color="primary"
    type="submit"
    (click)="addComment()"
  >
    Enviar
  </button>
</form>
