  /* Estilos personalizados para el formulario de comentarios */

  .view-blog__form {
    margin-top: 32px;
  }
  
  .view-blog__form-group {
    margin-bottom: 16px;  
  }
  
  .view-blog__form-field {
    width: 100%;
    
  }
  
  .view-blog__form-field--name {
    font-size: 16px;
    
  }
  
  .view-blog__form-field--comment {
    font-size: 14px;
  }
  
  .view-blog__form-button {
    background-color: #2196f3;
    color: #fff;
  }
  
  .view-blog__form-button:hover {
    background-color: #1976d2;
  }

