<form class="view-blog__form">
  <div class="form-group">
    <label class="form-label" for="nameComment">Nombre</label>
    <input
      class="form-control"
      [(ngModel)]="nameComment"
      name="nameComment"
      id="nameComment"
    />
  </div>
  <div class="form-group">
    <label class="form-label mt-3" for="textComment">Comentario</label>
    <textarea
      class="form-control"
      [(ngModel)]="textComment"
      name="textComment"
      id="textComment"
    ></textarea>
  </div>
  <button class="btn btn-primary mt-3" type="submit" (click)="addComment()">
    Enviar
  </button>
</form>
