.sidenav-container {
  height: 100%;

}

.sidenav {
  width: 200px;
  // background-color: rgb(230, 230, 230);
  background-color: rgb(203, 203, 252);
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  background-color: rgb(133, 50, 172);
  top: 0;
  z-index: 4;
  color: whitesmoke;
}