.sidenav-container {
  height: 100%;

}

.sidenav {
  width: 200px;
  background-color: rgb(134, 134, 134);
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  background-color: rgb(133, 50, 172);
  top: 0;
  z-index: 4;
  color: whitesmoke;
}

mat-toolbar {
  color: whitesmoke;
}