<!-- Template del componente ViewBlogComponent -->
<article class="article">
  <div class="article__image-container">
    <img class="article__image" [src]="article?.image" alt="article.title" />
  </div>
  <div class="article__content">
    <h1 class="article__title">{{ article?.title }}</h1>
    <p class="article__text">{{ article?.text }}</p>
    <button (click)="showForm()" class="article__button-form">Comenta</button>
    <button routerLink="/principal/principal/blog" class="article__button">
      Atrás
    </button>
    <div>
      <app-comment-form></app-comment-form>
    </div>
    <div>
      <app-comment></app-comment>
    </div>
  </div>
</article>
