<!-- articles-back-form.component.html -->

<mat-card>
  <form [formGroup]="articleForm" (ngSubmit)="onSubmit()">

    <h2 mat-card-title *ngIf="isEditing">Editar artículo</h2>
    <h2 mat-card-title *ngIf="!isEditing">Nuevo artículo</h2>

    <!-- Campo de Título -->
    <mat-form-field class="full-width">
      <input matInput placeholder="Título" formControlName="title">
      <mat-error *ngIf="articleForm.controls['title'].hasError('required')">
        Título es <strong>requerido</strong>
      </mat-error>
      <mat-error *ngIf="articleForm.controls['title'].hasError('minlength')">
        Título debe tener al menos 5 caracteres.
      </mat-error>
      <mat-error *ngIf="articleForm.controls['title'].hasError('maxlength')">
        Título no debe exceder 150 caracteres.
      </mat-error>
    </mat-form-field>

    <!-- Campo de URL de imagen -->
    <mat-form-field class="full-width">
      <input matInput placeholder="URL de imagen" formControlName="image">
      <mat-error *ngIf="articleForm.controls['image'].hasError('required')">
        URL de imagen es <strong>requerida</strong>
      </mat-error>
      <mat-error *ngIf="articleForm.controls['image'].hasError('pattern')">
        La URL de la imagen no es válida.
      </mat-error>
    </mat-form-field>

    <!-- Campo de Contenido -->
    <mat-form-field class="full-width">
      <textarea matInput placeholder="Contenido" formControlName="content"></textarea>
      <mat-error *ngIf="articleForm.controls['content'].hasError('required')">
        Contenido es <strong>requerido</strong>
      </mat-error>
      <mat-error *ngIf="articleForm.controls['content'].hasError('minlength')">
        Contenido debe tener al menos 10 caracteres.
      </mat-error>
      <mat-error *ngIf="articleForm.controls['content'].hasError('maxlength')">
        Contenido no debe exceder 1000 caracteres.
      </mat-error>
    </mat-form-field>

    <!-- Campo de Texto -->
    <mat-form-field class="full-width">
      <textarea matInput placeholder="Texto" formControlName="text"></textarea>
      <mat-error *ngIf="articleForm.controls['text'].hasError('required')">
        Texto es <strong>requerido</strong>
      </mat-error>
      <mat-error *ngIf="articleForm.controls['text'].hasError('minlength')">
        Texto debe tener al menos 10 caracteres.
      </mat-error>
      <mat-error *ngIf="articleForm.controls['text'].hasError('maxlength')">
        Texto no debe exceder 3000 caracteres.
      </mat-error>
    </mat-form-field>
    <mat-card-actions>
      <button type="button" mat-raised-button color="primary" [disabled]="articleForm.invalid" (click)="onSubmit()">
        Guardar
      </button>
      <button type="button" mat-raised-button color="warn" (click)="cancel()">Cancelar</button>
    </mat-card-actions>

  </form>
</mat-card>