<div class="card shadow-sm">
  <img [src]="user.img" [alt]="user.title" />
  <div class="card-body">
    <h1 class="text-center">{{ user.name }}</h1>
    <div class="d-flex justify-content-between align-items-center">
      <div class="btn-group">
        <button
          mat-raised-button
          color="accent"
          routerLink="/principal/users/{{ user.id }}"
        >
          Ver más
        </button>
      </div>
    </div>
    <div class="user-status">
      <span class="user-status-circle" [ngClass]="{'active-status': user.active, 'inactive-status': !user.active}"></span>
      <!-- {{ user.active ? 'Activo' : 'Inactivo' }} -->
    </div>
  </div>
</div>
