<nav class="nav">
    <button mat-raised-button color="accent" routerLink="/back">Login</button>
    <button mat-raised-button color="primary" routerLink="/principal">Entrar</button>
</nav>

<header class="hero">


    <div class="hero__text">
        <h1>¡Bienvenido a CineMax!</h1>
        <p>Comparte tus películas favoritas con otros cinéfilos</p>
    </div>
</header>

<main class="main">
    <section class="main__section1">
        <h2>Mira todas las actualizaciones de tus estrenos favoritos en CINEMAX</h2>

        <div class="container">
            <div class="container__flex">
                <div class="cardFilm">
                    <img src="https://hbomax-images.warnermediacdn.com/images/GZAZHkgS32aXCwgEAAANK/tileburnedin?size=640x360&partner=hbomaxcom&v=131c727bd1c80b11ee364de0dd31ea8c&host=art-gallery.api.hbo.com&language=es-es&w=320"
                        alt="imagen love and death">
                </div>
                <div class="cardFilm">
                    <img src="https://hbomax-images.warnermediacdn.com/images/GYsYeoAxKH8LCwgEAAAOR/tileburnedin?size=640x360&partner=hbomaxcom&v=b40b3c85d770ab28580f6ca442ce62a3&host=art-gallery.api.hbo.com&language=es-es&w=320"
                        alt="imagen casa del dragon">
                </div>
                <div class="cardFilm">
                    <img src="https://hbomax-images.warnermediacdn.com/images/GZD_w5w0N47iWtQEAAAeO/tileburnedin?size=640x360&partner=hbomaxcom&v=c3685a19e41b5cc837dc356037e27783&host=art-gallery.api.hbo.com&language=es-es&w=320"
                        alt="imagen spy master">
                </div>
                <div class="cardFilm">
                    <img src="https://hbomax-images.warnermediacdn.com/images/GY-YsDwFeS6XCwgEAAAFw/tileburnedin?size=640x360&partner=hbomaxcom&v=070fbc15b624424354dfff695cff0a07&host=art-gallery.api.hbo.com&language=es-es&w=320"
                        alt="imagen los fontaneros">
                </div>
            </div>
        </div>
    </section>

    <section class="main__section2">
        <h2>Descubre nuevas películas</h2>

        <div class="container">
            <div class="container__flex">
                <div class="text">
                    <h3>No te pierdas nada</h3>
                    <p>Disfruta de todos los títulos más rompedores, series aclamadas por la crítica</p>
                </div>

                <div class="imagen">
                    <img src="./assets/img/Evil-Dead-Rise-removebg-preview.png" alt="evil dead">
                </div>
            </div>
        </div>
    </section>

    <section class="main__section3">
        <h2>Tarifas</h2>



        <div class="b-example-divider"></div>

        <div class="container px-4 py-5" id="custom-cards">
            <h2 class="pb-2 border-bottom">Elige la tuya</h2>

            <div class="row row-cols-1 row-cols-lg-3 align-items-stretch g-4 py-5">
                <div class="col">
                    <div class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg"
                        style="background-image: url('unsplash-photo-1.jpg');">
                        <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
                            <h3 class="pt-5 mt-5 mb-4 display-6 lh-1 text-center">Suscripción Mensual</h3>
                            <p class="text-center">10$</p>
                            <button type="button" class="btn btn-warning w-75 m-auto">La quiero!</button>
                        </div>
                    </div>
                </div>

                <div class="col">
                    <div class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg"
                        style="background-image: url('unsplash-photo-1.jpg');">
                        <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
                            <h3 class="pt-5 mt-5 mb-4 display-6 lh-1 text-center">Suscripción Mensual</h3>
                            <p class="text-center">10$</p>
                            <button type="button" class="btn btn-danger w-75 m-auto">La quiero!</button>
                        </div>
                    </div>
                </div>

                <div class="col">
                    <div class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg"
                        style="background-image: url('unsplash-photo-1.jpg');">
                        <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
                            <h3 class="pt-5 mt-5 mb-4 display-6 lh-1 text-center">Suscripción Trimestral</h3>
                            <p class="text-center">50$</p>
                            <button type="button" class="btn btn-warning w-75 m-auto">La quiero!</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>