img,
picture,
video,
iframe,
figure {
    max-width: 100%;
    width: 100%;
    height: 100%;
    display: block;
}

body {
    background-color: black;
}

.container {
    max-width: 800px;
    margin: auto;
    padding: 50px;
    text-align: center;

}

h1 {
    font-size: 60px;
    color: #777676;
    margin-bottom: 30px;
}

p {
    font-size: 18px;
    color: #c0c0c0;
    margin-bottom: 30px;
}

a {
    color: #069;
    text-decoration: none;
}



.imgContainer {

    display: flex;
    align-items: center;
    justify-content: space-around;


    .img1 {
        width: 50px;
    }

    .img2 {

        width: 100px;
    }
}

.rotating-image {
    animation: rotate 6s infinite linear; // 4s representa la duración de la animación, ajusta según tus necesidades
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}