<!-- movies-back-form.component.html -->

<form [formGroup]="movieForm" (ngSubmit)="onSubmit()">

  <h2 *ngIf="isEditing">Editar película</h2>
  <h2 *ngIf="!isEditing">Nueva película</h2>

  <mat-form-field class="full-width">
    <input matInput placeholder="Título" formControlName="title">
    <mat-error *ngIf="movieForm.controls['title'].hasError('required')">
      Título es <strong>requerido</strong>
    </mat-error>
  </mat-form-field>

  <mat-form-field class="full-width">
    <input matInput placeholder="Director" formControlName="director">
    <mat-error *ngIf="movieForm.controls['director'].hasError('required')">
      Director es <strong>requerido</strong>
    </mat-error>
  </mat-form-field>

  <mat-form-field class="full-width">
    <input matInput type="number" min="0" max="10" step="0.1" placeholder="Puntuación" formControlName="score">
    <mat-error *ngIf="movieForm.controls['score'].hasError('required')">
      Puntuación es <strong>requerida</strong>
    </mat-error>
  </mat-form-field>

  <mat-form-field class="full-width">
    <input matInput type="number" min="1880" max="{{currentYear}}" step="1" placeholder="Año" formControlName="year">
    <mat-error *ngIf="movieForm.controls['year'].hasError('required')">
      Año es <strong>requerido</strong>
    </mat-error>
  </mat-form-field>

  <mat-form-field class="full-width">
    <input matInput placeholder="Género" formControlName="genre">
    <mat-error *ngIf="movieForm.controls['genre'].hasError('required')">
      Género es <strong>requerido</strong>
    </mat-error>
  </mat-form-field>

  <mat-form-field class="full-width">
    <textarea matInput placeholder="Resumen" formControlName="abstract"></textarea>
    <mat-error *ngIf="movieForm.controls['abstract'].hasError('required')">
      Resumen es <strong>requerido</strong>
    </mat-error>
  </mat-form-field>

  <mat-form-field class="full-width">
    <input matInput placeholder="URL de imagen" formControlName="img">
    <mat-error *ngIf="movieForm.controls['img'].hasError('required')">
      URL de imagen es <strong>requerido</strong>
    </mat-error>
  </mat-form-field>

  <mat-form-field class="full-width">
    <textarea matInput placeholder="Texto" formControlName="text"></textarea>
    <mat-error *ngIf="movieForm.controls['text'].hasError('required')">
      Texto es <strong>requerido</strong>
    </mat-error>
  </mat-form-field>

  <button type="button" mat-raised-button color="primary" (click)="onSubmit()">Guardar</button>
  <button type="button" mat-raised-button color="warn" (click)="cancel()">Cancelar</button>

</form>