<div class="article__container">
  <h2 class="article__title">
    16 cosas que (probablemente) no sabías de 'El padrino: Parte II'
  </h2>
  <img
    src="../../../../../../assets/img/elPadrino.jpg"
    class="article__image mat-card-avatar mat-card-sm-image"
  />
  <div class="article__content">
    <p>
      En la Nueva York de 1917, un joven inmigrante siciliano se convierte en
      criminal para sacar adelante a su familia. Más tarde, su hijo hereda su
      imperio y lo mantiene en pie… a costa de traicionar aquello que su padre
      consideraba honorable. Con su compleja estructura y sus interpretaciones
      de órdago (encabezadas por Al Pacino y Robert De Niro), El padrino: Parte
      II prolongó la saga de los Corleone de manera deslumbrante, siendo
      aclamada aún hoy como una de las mejores secuelas de la historia. Las
      vidas paralelas de un Vito ambicioso y un Michael satánico se merecen un
      estudio en profundidad. Y nosotros te lo ofrecemos aquí tras haber
      indagado en los asuntos de la famiglia con grave riesgo para nuestra vida.
      Recuerda: todo lo que vas a leer son asuntos de negocios, nada personal.
    </p>
  </div>
</div>
